.create__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.create__type-list {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}


.create__type-item {
  margin-right: 10px;
}

.create__type-input:checked + .create__type-label {
  background-color: rgba(0, 0, 0, 0.15);

  &:active {
    opacity: 0.5;
  }
}

.create__type-label {
  display: block;
  padding: 6px 4px;

  border-radius: 3px;
  cursor: pointer;

  transition: 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.create__date-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}

.create__date-time-wrapper {
  display: flex;
  flex-direction: column;
}

.create__date-list {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}


.create__date-item {
  &--start {
    flex-grow: 1;
  }

  &--end {
    display: none;
  }
}

.create__date {
  display: block;
  width: 100%;
}

.create__time-list {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.create__time-item {
  &--end {
    margin-left: 10px;
  }
}

.create__time {
  display: block;
}


.create__form--multi-day {
  .create__date-item--end {
    display: block;
    margin-left: 10px;
  }

  .create__time-item {
    width: 50%;

    &--end {
      display: block;
      margin-left: 10px;
    }
  }
}

.create__form--task {
  .create__info {
    display: none;
  }

  .create__date-time-wrapper {
    flex-direction: row;
  }

  .create__date-list {
    margin-right: 10px;
  }

  .create__time-item {
    &--end {
      display: none;
    }
  }
}

.create__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}


.create__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}


.create__place {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.create__description {
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;

  resize: none;
}
