.form__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.form__type {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}

.form__type-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}


.form__type-item {
  margin-right: 10px;
}

.form__type-input:checked+.form__type-label {
  background-color: rgba(0, 0, 0, 0.15);

  &:active {
    opacity: 0.5;
  }
}

.form__type-label {
  display: block;
  padding: 6px 4px;

  border-radius: 3px;
  cursor: pointer;

  transition: 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}


.form__date-time {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  max-width: 100%;

  border: none;
}


.form__date-time-list {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  @media (max-width: 440px) {
    flex-direction: column;
  }
}

.form__date-time-item {
  &--start {
    margin-right: 40px;


    @media (max-width: 440px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}


.form__date {
  // width: 100%;
  display: block;
  // max-width: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  // max-width: 180px;
  width: 160px;
  // margin-bottom: 20px;
  margin-bottom: 10px;
}

.form__time {
  font: inherit;
  border: none;
}


.form--all-day .form__time {
  display: none;
}

.form--task .form__date-time-item--end {
  display: none;
}

.form__all-day {
  display: flex;
}

.form__all-day-label {
  // display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 26px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px;
  background-image: url("../img/square-regular.svg");
  background-size: 24px auto;

  &:hover {
    background-image: url("../img/check-square-solid.svg");
  }
}

.form__all-day-input:checked+.form__all-day-label {
  background-image: url("../img/check-square-solid.svg");
}

.form__all-day-input:checked+.form__all-day-label:hover {
  background-image: url("../img/square-regular.svg");
}


.item__button {
  // box-shadow: 0 0 0 1px black;
  // width: 50px;
  // height: 50px;
  // width: 20px;

  // background-color: #000000;




  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }


  &--done {}

  &--update {
    background-image: url("../img/pencil-alt-solid.svg");
    background-size: 22px auto;
  }

  &--delete {
    background-image: url("../img/trash-alt-solid.svg");
    background-size: 20px auto;
  }
}


// .form__date-time {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   margin: 0;
//   margin-bottom: 20px;
//   padding: 0;

//   border: none;
// }

// .form__date-time-wrapper {
//   display: flex;
//   flex-direction: column;
// }

// .form__date-list {
//   display: flex;
//   margin: 0;
//   margin-bottom: 10px;
//   padding: 0;

//   list-style: none;
// }


// .form__date-item {
//   &--start {
//     flex-grow: 1;
//   }

//   &--end {
//     display: none;
//   }
// }

// .form__date {
//   display: block;
//   width: 100%;
// }

// .form__time-list {
//   display: flex;
//   margin: 0;
//   margin-bottom: 20px;
//   padding: 0;

//   list-style: none;
// }

// .form__time-item {
//   &--end {
//     margin-left: 10px;
//   }
// }

// .form__time {
//   display: block;
// }


// .form--all-day {
//   .form__date-item--end {
//     display: block;
//     margin-left: 10px;
//   }

//   .form__time-item {
//     width: 50%;

//     &--end {
//       display: block;
//       margin-left: 10px;
//     }
//   }
// }


.form--task {
  .form__info {
    display: none;
  }

  // .form__date-time-wrapper {
  //   flex-direction: row;
  // }

  // .form__date-list {
  //   margin-right: 10px;
  // }

  // .form__time-item {
  //   &--end {
  //     display: none;
  //   }
  // }
}


.form__info {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
  // margin-right: 100px;
  max-width: 243px;
}


.form__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}


.form__place {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.form__description {
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;

  resize: none;
}
