.form__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.form__type {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}

.form__type-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}


.form__type-item {
  margin-right: 10px;
}

.form__type-input:checked + .form__type-label {
  background-color: rgba(0, 0, 0, 0.15);

  &:active {
    opacity: 0.5;
  }
}

.form__type-label {
  display: block;
  padding: 6px 4px;

  border-radius: 3px;
  cursor: pointer;

  transition: 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}


.form__date-time {
  max-width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}


.form__date-time-list {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  @media (max-width: 440px) {
    flex-direction: column;
  }
}

.form__date-time-item {
  &--start {
    margin-right: 40px;


    @media (max-width: 440px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}


.form__date {
  display: block;
  width: 160px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font: inherit;

  border: none;
}

.form__time {
  font: inherit;

  border: none;
}


.form--all-day .form__time {
  display: none;
}

.form--task .form__date-time-item--end {
  display: none;
}

.form__all-day {
  display: flex;
}


.form__all-day-label {
  display: flex;
  align-items: center;
  height: 26px;
  padding-left: 35px;

  background-image: url("../img/square-regular.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px auto;
  cursor: pointer;

  &:hover {
    background-image: url("../img/check-square-regular.svg");
  }
}

.form__all-day-input:focus + .form__all-day-label {
  background-image: url("../img/check-square-regular.svg");
}

.form__all-day-input:checked + .form__all-day-label {
  background-image: url("../img/check-square-solid.svg");
}

.form--task {
  .form__info {
    display: none;
  }
}

.form__info {
  display: flex;
  flex-direction: column;
  max-width: 243px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}

.form__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}


.form__place {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.form__description {
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;

  resize: none;
}
