.notice {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  z-index: 9999;

  display: none;
  padding: 20px;
  // display: block;

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.15);


  @media (min-width: 480px) {
    left: 50%;

    width: 440px;

    transform: translateX(-50%);
  }

  &--active {
    display: block;
  }
}
