.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal__window {
  position: absolute;
  top: 50%;

  min-height: 200px;
  padding: 20px;

  background-color: lightgrey;
  border-radius: 8px;
  transform: translateY(-50%);


  @media (min-width: 480px) {
    left: 50%;

    width: 440px;

    transform: translate(-50%, -50%);
  }
}


.modal__close {
  position: fixed;
  top: 10px;
  right: 10px;

  width: 50px;
  height: 50px;
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:active {
    opacity: 0.5;
  }
}

.modal__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.modal__type-list {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}


.modal__type-item {
  margin-right: 10px;
}

.modal__type-input:checked + .modal__type-label {
  background-color: rgba(0, 0, 0, 0.15);

  &:active {
    opacity: 0.5;
  }
}

.modal__type-label {
  display: block;
  padding: 6px 4px;

  border-radius: 3px;
  cursor: pointer;

  transition: 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.modal__date-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}

.modal__date-time-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__date-list {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}


.modal__date-item {
  &--start {
    flex-grow: 1;
  }

  &--end {
    display: none;
  }
}

.modal__date {
  display: block;
  width: 100%;
}

.modal__time-list {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.modal__time-item {
  &--end {
    margin-left: 10px;
  }
}

.modal__time {
  display: block;
}


.modal__form--multi-day {
  .modal__date-item--end {
    display: block;
    margin-left: 10px;
  }

  .modal__time-item {
    width: 50%;

    &--end {
      display: block;
      margin-left: 10px;
    }
  }
}

.modal__form--task {
  .modal__info {
    display: none;
  }

  .modal__date-time-wrapper {
    flex-direction: row;
  }

  .modal__date-list {
    margin-right: 10px;
  }

  .modal__time-item {
    &--end {
      display: none;
    }
  }
}

.modal__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}


.modal__title {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  font-size: 28px;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}


.modal__place {
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.modal__description {
  padding: 0;
  padding-bottom: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;

  resize: none;
}

.modal__save {
  display: block;
  padding: 0;
  padding: 10px;

  font: inherit;
  color: inherit;
  color: $mtc;

  background-color: $ac;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
