.todo {
  margin: 0 auto;
  // padding: 30px;
  padding: 15px;
  min-width: 320px;

  @media (min-width: 416px) {
    width: 400px;
  }
}

.todo__input {
  margin-bottom: 10px;
}

.todo__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.todo__item {
  margin-bottom: 10px;
}

.todo__input {
  // display: flex;
  display: block;
  width: 100%;
  // height: 42px;
  min-height: 44px;
  // border-radius: 5px;
  // padding: 10px 20px;
  // margin-bottom: 10px;
  overflow: hidden;

  font: inherit;
  text-align: left;
  color: inherit;

  background-color: transparent;
  border: 1px solid #e8eaed;
  border-radius: 8px;
  // justify-content: space-between;
}

.input__field {
  flex-grow: 1;
  max-width: 322px;
  margin: 0;

  resize: none;
  // width: 100%;
  // height: 100%;
  // align-self: stretch;
}

.task {
  margin-bottom: 10px;
  // border-radius: 5px;
  padding: 10px 20px;

  border: 1px solid #e8eaed;
  border-radius: 8px;
}
