// Универсальные стили
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.d-none {
  display: none !important;
}

.button {


  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
