@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto";

  font-display: swap;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto";

  font-display: swap;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto-bold-webfont.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PT Serif";

  font-display: swap;
  src: url("../fonts/ptserif-regular-webfont.woff2") format("woff2"),
    url("../fonts/ptserif-regular-webfont.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "PT Serif";

  font-display: swap;
  src: url("../fonts/ptserif-bold-webfont.woff2") format("woff2"),
    url("../fonts/ptserif-bold-webfont.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Bad Script";

  font-display: swap;
  src: url("../fonts/badscript-regular-webfont.woff2") format("woff2"),
    url("../fonts/badscript-regular-webfont.woff") format("woff");
}
