.button {
  display: block;
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &--fill {
    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;

    transition: 0.2s ease;

    &:hover,
    &:focus {
      color: #ffffff;

      background-color: #000000;
    }
  }
}
